<h3>Quản lý phiếu xuất</h3>
<div class="col hideWhenPrint">
    <div class="d-flex justify-content-end my-4">
        <button class="btn btn-primary" @onclick="async ()=>{await HandleExportStorageListVisual.InvokeAsync(true); await HandleExportStorageFormVisual.InvokeAsync(true); await HandleExportStorageRawDataListVisual.InvokeAsync(false);}">Thêm phiếu xuất kho</button>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Số phiếu xuất kho</th>
                <th scope="col">Kho</th>
                <th scope="col">Ngày xuất kho</th>
                <th scope="col">Ghi chú</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (ExportStorageList is null)
            {
                <tr>
                    <td>Đang lấy dữ liệu...</td>
                </tr>
            }
            else
            {
                @if (!ExportStorageList.Any())
                {
                    <tr>
                        <td>Không có dữ liệu</td>
                    </tr>
                }
                else
                {
                    @foreach (ExportStorage item in ExportStorageList)
                    {
                        <tr>
                            <td>@item.ExportStorageName</td>
                            <td>@item.ExportStorageDate</td>
                            <td>@StorageList?.Find(i => i.Id == item.StorageId)?.StorageName</td>
                            <td>@item.Note</td>
                            <td class="d-flex flex-wrap gap-1">
                                <button class="btn btn-primary" @onclick="()=>{HandleExportStorageListVisual.InvokeAsync(true); LoadExportStorage.InvokeAsync(item.Id); HandleExportStorageFormVisual.InvokeAsync(true); HandleExportStorageRawDataListVisual.InvokeAsync(false);}">Hiệu chỉnh thông tin xuất</button>
                                <button class="btn btn-success" @onclick="async () => await HandleEditExportAsync(item.Id)">
                                    Hiệu chỉnh chi tiết xuất
                                </button>
                                <button class="btn btn-danger" style="width: 150px" @onclick="()=>DeleteExportStorage.InvokeAsync(item.Id)">Xóa</button>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<ExportStorage> ExportStorageList { get; set; }
    [Parameter]
    public List<Storage> StorageList { get; set; }
    [Parameter]
    public EventCallback<bool> HandleExportStorageListVisual { get; set; }
    [Parameter]
    public EventCallback<int> DeleteExportStorage { get; set; }
    [Parameter]
    public EventCallback<int> LoadExportStorage { get; set; }
    [Parameter]
    public EventCallback<bool> HandleExportStorageFormVisual { get; set; }
    [Parameter]
    public EventCallback<bool> HandleExportStorageRawDataListVisual { get; set; }
    [Parameter]
    public EventCallback<int> LoadExportStorageRawDataList { get; set; }

    private async Task HandleEditExportAsync(int itemId)
    {
        await HandleExportStorageListVisual.InvokeAsync(true);
        await LoadExportStorage.InvokeAsync(itemId);
        await LoadExportStorageRawDataList.InvokeAsync();
        await HandleExportStorageFormVisual.InvokeAsync(true);
        await HandleExportStorageRawDataListVisual.InvokeAsync(true);
    }
}
