<div class="top-row ps-3 navbar navbar-dark hideWhenPrint">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BaiTapThucTap</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable hideWhenPrint" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculation-unit-dashboard">
                Danh mục đơn vị tính
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product-category-dashboard">
                Danh mục loại sản phẩm
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product-dashboard">
                Danh mục sản phẩm
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="supplier-dashboard">
                Danh mục nhà cung cấp
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="storage-dashboard">
                Danh mục kho
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="storage-user-dashboard">
                Phân quyền kho
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entry-storage-form-dashboard">
                Quản lý phiếp nhập
            </NavLink>
        </div>
    </nav>
</div>

