@page "/report-import-export-product-dashboard"

<h3>Báo cáo xuất nhập tồn</h3>
<div class="row">
    <div class="col-3">
        <EditForm Model="this" OnSubmit="OnSearch">
            <div class="form-group">
                <label for="startDate">Từ ngày</label>
                <InputDate @bind-Value="StartDate" class="form-control" id="startDate" />
            </div>
            <div class="form-group">
                <label for="startendDateDate">Đến ngày</label>
                <InputDate @bind-Value="EndDate" class="form-control" id="endDate" />
            </div>
            <button class="btn btn-primary">Tìm kiếm</button>
        </EditForm>
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ngày xuất</th>
                    <th scope="col">Số phiếu xuất</th>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">SL xuất</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Trị giá</th>
                </tr>
            </thead>
            <tbody>
                @* @if (sortEntryStorageFormRawData.Count() > 0)
                {
                    @foreach (var item in sortEntryStorageFormRawData)
                    {
                        <tr>
                            <td>@ExportStorageList?.Find(i => i.Id == item.ExportStorageId)?.ExportStorageDate</td>
                            <td>@ExportStorageList?.Find(i => i.Id == item.ExportStorageId)?.ExportStorageName</td>
                            <td>@item.ProductId</td>
                            <td>@ProductList?.Find(i => i.Id == item.ProductId)?.ProductName</td>
                            <td>@item.Quantities</td>
                            <td>@item.Price</td>
                            <td>@(item.Quantities * item.Price)</td>
                        </tr>
                    }
                } *@
                else
                {
                    <tr>
                        <td colspan="8">Không tìm thấy phiếu nhập</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public DateOnly StartDate { get; set; } = DateOnly.FromDateTime(DateTime.Today);
    public DateOnly EndDate { get; set; } = DateOnly.FromDateTime(DateTime.Today);

    private void OnSearch()
    {
        // sortExportStorage = ExportStorageList.Where(i => i.ExportStorageDate >= StartDate && i.ExportStorageDate <= EndDate).ToList();
        // sortEntryStorageFormRawData = ExportStorageRawDataList.Where(i => sortExportStorage.Any(s => s.Id == i.ExportStorageId)).ToList();
    }
}
